<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${cservicio}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<div class="form-group row">
					<label for="servicio" class="col-sm-2 col-form-label">Servicio
						Solicitado</label>
					<div class="col-sm-6">
						<input type="text" th:readonly=true th:field="*{miservicio.descripcion}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('miservicio.descripcion')}"
							th:errors="*{miservicio.descripcion}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
					<div class="col-sm-6">
						<input type="text" th:readonly=true th:field="*{miservicio.cliente.razonsocial}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('miservicio.cliente.razonsocial')}"
							th:errors="*{miservicio.cliente.razonsocial}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="fecha" class="col-sm-2 col-form-label">Fecha de
						solicitud</label>
					<div class="col-sm-6">
						<input type="text" th:readonly=true th:field="*{miservicio.fecha}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('miservicio.fecha')}"
							th:errors="*{miservicio.fecha}"></small>
					</div>
				</div>
				<div th:if="${parES != 'nuevo'}"class="form-group row">
					<label for="Trabajador" class="col-sm-2 col-form-label">Personal Asignado</label>
					<div class="col-sm-6">
						<input type="text" th:readonly=true th:field="*{miservicio.trabajador.persona.nombre}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('miservicio.trabajador')}"
							th:errors="*{miservicio.trabajador}"></small>
					</div>
				</div>

				<form th:action="@{/formCServicio}" th:object="${cservicio}"
					method="post" enctype="multipart/form-data">

					<div class="form-group row" th:if="${parES == 'nuevo'}" >					
						<label for="trabajadores" class="col-sm-2 col-form-label">Seleccione
							Trabajador a Asignar</label>
						<div  class="col-sm-6">
						
							<select required th:field="*{trabajador}" multiple="multiple">
								<option th:each="t :${trabajadores}" th:value="${t.Id}"
									th:text="${t.persona.nombre}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('trabajador')}"
								th:errors="*{trabajador}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="Descripcion" class="col-sm-2 col-form-label">Detalle
							de cambio</label>
						<div class="col-sm-6">
							<input type="text" required th:field="*{descripcion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></small>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="Aceptar"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>