<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${servicio}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<div th:if="${isCliente == 'true'}" class="form-group row">
					<label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
					<div class="col-sm-6">
						<input type="text" th:readonly=true tr th:field="${micliente.razonsocial}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('micliente')}"
							th:errors="*{micliente}"></small>
					</div>
				</div>
				<form th:action="@{/formServicio}" th:object="${servicio}"
					method="post" enctype="multipart/form-data">
					<div class="form-group row">
						<label for="tipoServicio" class="col-sm-2 col-form-label">Tipo
							de Servicio</label>
						<div class="col-sm-6">
							<select required th:field="*{tiposervicio}" multiple="multiple">
								<option th:each="ts :${tipoServicios}" th:value="${ts.Id}"
									th:text="${ts.descripcion}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('tiposervicio')}"
								th:errors="*{tiposervicio}"></small>
						</div>
					</div>				

					<div class="form-group row" th:if="${isCliente != 'true'}">
						<label for="clientes" class="col-sm-2 col-form-label">Clientes</label>
						<div class="col-sm-6">
							<select required th:field="*{cliente}" multiple="multiple">
								<option th:each="cliente :${clientes}" th:value="${cliente.Id}"
									th:text="${cliente.razonsocial}"></option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label for="descripcion" class="col-sm-2 col-form-label"
							th:text="'Descripción del servicio'"></label>
						<div class="col-sm-6">
							<textarea required th:field="*{descripcion}" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="Aceptar" class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>