<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout:: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4>cambio 1 ruta actual</h4>
				<h4 class="card-title">
					<a th:href="@{/formServicio}" class="btn btn-primary btn-xs">Programar
						servicios</a>
				</h4>
				<div th:text="@{/}" />

				<div th:text="${#request.contextPath}" />
				
				<div>/your/context/</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>cliente</th>
							<th>descripcion</th>
							<th>estado</th>
							<th>EDITAR</th>
							<th>ELIMINAR</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="servicio:${listaServicio}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/ver/}+${servicio.id}" th:text="${servicio.Id}"></a></td>
							<td th:text="${servicio.tiposervicio.descripcion}"></td>
							<td th:text="${servicio.cliente.razonsocial}"></td>
							<td th:text="${servicio.estadoservicio.descripcion}"></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/formCServicio/}+${servicio.id}+'/2'" th:text="${submint}"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/delete/}+${servicio.id}" th:text="'Eliminar'"
								onclick="return confirm('estas seguro de eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>