<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${trabajador}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${trabajador}" method="post"
					enctype="multipart/form-data">
					<div class="form-group row">
						<label for="Personal" class="col-sm-2 col-form-label">Personal</label>
						<div class="col-sm-6">
							<select required th:field="*{persona}" multiple="multiple">
								<option th:each="persona :${personas}" th:value="${persona.Id}"
									th:text="${persona.nombre}"></option>
							</select>
							 <small class="form-text text-danger"
								th:if="${#fields.hasErrors('persona')}" th:errors="*{persona}"></small>
						</div>
					</div>
					<input type=hidden th:field="*{id}" />
					<div class="form-group row">
						<label for="Cargo" class="col-sm-2 col-form-label">Cargos</label>
						<div class="col-sm-6">
							<select required th:field="*{cargo}" multiple="multiple">
								<option th:each="cargo :${cargos}" th:value="${cargo.Id}"
									th:text="${cargo.cargo}"></option>
							</select> 
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}"></small>
						</div>
					</div>
					


					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>