<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout:: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-primary btn-xs">crear
						trabajadores</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>nombre</th>
							<th>apellido</th>							
							<th>CREAR TAREA</th>
							<th>EDITAR</th>
							<th>ELIMINAR</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="trabajador:${trabajadores}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/ver/}+${trabajador.Id}" th:text="${trabajador.Id}"></a></td>
							<td th:text="${trabajador.nombre}"></td>
							<td th:text="${trabajador.apellido}"></td>							
						
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>